<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="BeanContainer"
    class="org.beangle.commons.cdi.spring.context.SpringContainer">
    <property name="moduleLocations" value="classpath*:META-INF/beangle/cdi.xml" />
    <property name="reconfigLocations" value=";classpath*:spring-config-test.xml">
    </property>
  </bean>

  <import resource="classpath*:META-INF/spring/*.xml" />
  <import resource="classpath*:META-INF/spring-test/*.xml" />
  <import resource="classpath*:spring.xml" />
</beans>
